In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("data.csv")
data

       t_e_1     y_e_1     t_e_2     y_e_2     t_e_3     y_e_3
0   0.000000  1.176000  0.000000  1.143195  0.000000  1.151376
1   0.033211  1.178505  0.033300  1.139649  0.033300  1.138000
2   0.066522  1.166814  0.066578  1.129011  0.066589  1.116264
3   0.099811  1.152619  0.099878  1.107735  0.099878  1.085333
4   0.133111  1.134248  0.133178  1.069911  0.133178  1.043533
5   0.166389  1.105856  0.166478  1.021449  0.166478  0.985850
6   0.199700  1.065774  0.199756  0.959985  0.199756  0.925658
7   0.232967  1.022352  0.233067  0.902067  0.233056  0.852669
8   0.266278  0.959724  0.266344  0.824055  0.266356  0.768408
9   0.299578  0.886304  0.299633  0.740134  0.299644  0.676774
10  0.332856  0.803797  0.332922  0.647938  0.332933  0.581980
11  0.366156  0.729728  0.366211  0.551014  0.366233  0.466120
12  0.399456  0.638783  0.399522  0.429268  0.399522  0.356580
13  0.432756  0.537012  0.432800  0.327863  0.432811  0.243489
14  0.466033  0.430640  0.466100  0.204218  0.466111  0.115582
15  0.499322  0.311568  0.499389  0.112231  0.499456  0.000215
16  0.532700  0.192786  0.532689  0.000000  0.532700  0.000000
17  0.565911  0.043008  0.565911  0.000000  0.565911  0.000000

In [14]:
t_mean = []
t_std  = []

y_mean = []
y_std  = []
for i in data.iterrows():
    i = i[1].values
    
    t_mean.append(np.mean([i[0], i[2], i[4]]))
    t_std.append(np.std([i[0], i[2], i[4]]))
    
    y_mean.append(np.mean([i[1], i[3], i[5]]))
    y_std.append(np.std([i[1], i[3], i[5]]))

data['t_mean'] = t_mean
data['y_mean'] = y_mean

data['t_std'] = t_std
data['y_std'] = y_std

In [15]:
data

,t_e_1,y_e_1,t_e_2,y_e_2,t_e_3,y_e_3,t_mean,y_mean,t_std,y_std
0,0.000000,1.176000,0.000000,1.143195,0.000000,1.151376,0.000000,1.156857,0.000000,0.013942
1,0.033211,1.178505,0.033300,1.139649,0.033300,1.138000,0.033270,1.152052,0.000042,0.018718
2,0.066522,1.166814,0.066578,1.129011,0.066589,1.116264,0.066563,1.137363,0.000029,0.021465
3,0.099811,1.152619,0.099878,1.107735,0.099878,1.085333,0.099856,1.115229,0.000031,0.027976
4,0.133111,1.134248,0.133178,1.069911,0.133178,1.043533,0.133156,1.082564,0.000031,0.038100
5,0.166389,1.105856,0.166478,1.021449,0.166478,0.985850,0.166448,1.037718,0.000042,0.050325
6,0.199700,1.065774,0.199756,0.959985,0.199756,0.925658,0.199737,0.983806,0.000026,0.059631
7,0.232967,1.022352,0.233067,0.902067,0.233056,0.852669,0.233030,0.925696,0.000045,0.071259
8,0.266278,0.959724,0.266344,0.824055,0.266356,0.768408,0.266326,0.850729,0.000034,0.080350
9,0.299578,0.886304,0.299633,0.740134,0.299644,0.676774,0.299619,0.767737,0.000029,0.087739
10,0.332856,0.803797,0.332922,0.647938,0.332933,0.581980,0.332904,0.677905,0.000034,0.093003
11,0.366156,0.729728,0.366211,0.551014,0.366233,0.466120,0.366200,0.582287,0.000033,0.109866
12,0.399456,0.638783,0.399522,0.429268,0.399522,0.356580,0.399500,0.474877,0.000031,0.119638
13,0.432756,0.537012,0.432800,0.327863,0.432811,0.243489,0.432789,0.369455,0.000024,0.123387
14,0.466033,0.430640,0.466100,0.204218,0.466111,0.115582,0.466081,0.250147,0.000034,0.132659
15,0.499322,0.311568,0.499389,0.112231,0.499456,0.000215,0.499389,0.141338,0.000054,0.128765
16,0.532700,0.192786,0.532689,0.000000,0.532700,0.000000,0.532696,0.064262,0.000005,0.090880
17,0.565911,0.043008,0.565911,0.000000,0.565911,0.000000,0.565911,0.014336,0.000000,0.020274

In [16]:
data.to_csv("dataset.csv", index=0)