In [1]:
import pandas as pd
import numpy as np

In [2]:
ex1 = pd.read_csv("Conc_Exp1.csv")
ex1

           t         y
0   0.000000  1.176000
1   0.033211  1.178505
2   0.066522  1.166814
3   0.099811  1.152619
4   0.133111  1.134248
5   0.166389  1.105856
6   0.199700  1.065774
7   0.232967  1.022352
8   0.266278  0.959724
9   0.299578  0.886304
10  0.332856  0.803797
11  0.366156  0.729728
12  0.399456  0.638783
13  0.432756  0.537012
14  0.466033  0.430640
15  0.499322  0.311568
16  0.532700  0.192786
17  0.565911  0.043008

In [16]:
ex2 = pd.read_csv("Conc_Exp2.csv")
ex2 = ex2.append(ex1.iloc[17:18])
ex2['y'][16] = 0
ex2['y'][17] = 0
ex2

           t         y
0   0.000000  1.143195
1   0.033300  1.139649
2   0.066578  1.129011
3   0.099878  1.107735
4   0.133178  1.069911
5   0.166478  1.021449
6   0.199756  0.959985
7   0.233067  0.902067
8   0.266344  0.824055
9   0.299633  0.740134
10  0.332922  0.647938
11  0.366211  0.551014
12  0.399522  0.429268
13  0.432800  0.327863
14  0.466100  0.204218
15  0.499389  0.112231
16  0.532689  0.000000
17  0.565911  0.000000

In [13]:
ex3 =  pd.read_csv("Conc_Exp3.csv")
ex3 = ex3.append(ex1.iloc[16:18])
ex3['y'][16] = 0
ex3['y'][17] = 0
ex3

           t         y
0   0.000000  1.151376
1   0.033300  1.138000
2   0.066589  1.116264
3   0.099878  1.085333
4   0.133178  1.043533
5   0.166478  0.985850
6   0.199756  0.925658
7   0.233056  0.852669
8   0.266356  0.768408
9   0.299644  0.676774
10  0.332933  0.581980
11  0.366233  0.466120
12  0.399522  0.356580
13  0.432811  0.243489
14  0.466111  0.115582
15  0.499456  0.000215
16  0.532700  0.000000
17  0.565911  0.000000

In [18]:
data = {
    "t_e_1": ex1['t'].values,
    "y_e_1": ex1['y'].values,
    "t_e_2": ex2['t'].values,
    "y_e_2": ex2['y'].values,
    "t_e_3": ex3['t'].values,
    "y_e_3": ex3['y'].values,
}
dataset = pd.DataFrame(data=data)
dataset

       t_e_1     y_e_1     t_e_2     y_e_2     t_e_3     y_e_3
0   0.000000  1.176000  0.000000  1.143195  0.000000  1.151376
1   0.033211  1.178505  0.033300  1.139649  0.033300  1.138000
2   0.066522  1.166814  0.066578  1.129011  0.066589  1.116264
3   0.099811  1.152619  0.099878  1.107735  0.099878  1.085333
4   0.133111  1.134248  0.133178  1.069911  0.133178  1.043533
5   0.166389  1.105856  0.166478  1.021449  0.166478  0.985850
6   0.199700  1.065774  0.199756  0.959985  0.199756  0.925658
7   0.232967  1.022352  0.233067  0.902067  0.233056  0.852669
8   0.266278  0.959724  0.266344  0.824055  0.266356  0.768408
9   0.299578  0.886304  0.299633  0.740134  0.299644  0.676774
10  0.332856  0.803797  0.332922  0.647938  0.332933  0.581980
11  0.366156  0.729728  0.366211  0.551014  0.366233  0.466120
12  0.399456  0.638783  0.399522  0.429268  0.399522  0.356580
13  0.432756  0.537012  0.432800  0.327863  0.432811  0.243489
14  0.466033  0.430640  0.466100  0.204218  0.466111  0.115582
15  0.499322  0.311568  0.499389  0.112231  0.499456  0.000215
16  0.532700  0.192786  0.532689  0.000000  0.532700  0.000000
17  0.565911  0.043008  0.565911  0.000000  0.565911  0.000000

In [19]:
dataset.to_csv("data.csv", index = False)